.product-list {
  &__container {
    @apply container m-auto;
  }

  &__search {
   @apply input-group input-group-lg w-full mx-auto mb-4;

    @screen sm {
      @apply w-2/3;
    }
  }

  &__search-icon {
    @apply h-8;
  }

  &__search-input {
    @apply input input-bordered input-lg w-full;
  }

  &__list {
    @apply grid gap-4;

    @screen sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @screen md {
      grid-template-columns: repeat(3, 1fr);
    }

    @screen lg {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
