.navbar {
    &__navbar {
        @apply navbar glass mb-4 sticky top-0 inset-y-0 z-10;
    }

    &__container {
        @apply grid container mx-auto;
        grid-template-areas: "logo breadcrumb cart";
        grid-template-columns: 1fr auto 1fr;
    }

    &__logo-link {
        @apply justify-self-start;
        grid-area: logo;
    }

    &__logo {
        @apply h-8 transition-opacity;

        &:hover {
            @apply opacity-70;
        }
    }

    &__breadcrumb {
        @apply justify-self-center;
    }

    &__cart-container {
        @apply justify-self-end relative h-8 w-8;
        grid-area: cart;
    }

    &__cart-icon {
        @apply absolute inset-0;
    }

    &__cart-label {
        @apply text-white absolute inset-0 text-center font-bold leading-none pl-1;
    }
}
