.product-detail-color-picker {
  &__color-title {
    @apply font-bold mb-4 text-xl;
  }

  &__color-picker {
    @apply grid gap-8 p-2 justify-between mb-8;
    grid-template-columns: 1fr;

    @screen sm {
      grid-template-columns: repeat(auto-fill, minmax(theme('spacing.32'), 1fr));
    }
  }

  &__color-option {
    @apply grid justify-center content-center w-full h-10 rounded-full outline outline-4 text-center transition-all
    shadow-xl font-bold;

    outline-color: var(--color, theme('colors.base-content'));
    background-color: var(--color, theme('colors.base-100'));
    color: var(--color, theme('colors.base-content'));

    &:hover, &:focus {
      @apply opacity-60 shadow;
    }

    &--active {
      @apply outline-offset-4;
      outline-color: var(--color, theme('colors.primary'));
      color: var(--color, theme('colors.primary'));
    }

    input {
      @apply appearance-none;
    }
  }
}
